body {
    color: #858585;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
}

a, a:hover, a:active {
    color: #ff4800;
}

.header {
    padding-top: 55px;
    padding-bottom: 55px;
}

/* NAV */
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #fff;
    border-color: #428bca;
}

.navbar-brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

/* TOGGLE */

.navbar-collapse {
    background: #fff;
    z-index: 9999;
}

.navbar-toggle {
    border-radius: 0;
    outline: 0;
}

.navbar-toggle span {
    border-color: #ff0000;
    background: red;
}

.navbar-nav, .dropdown-menu {
    font-size: 16px;
}

.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 8px;
    color: #858585;
}

.navbar-nav > li.active > a, .navbar-nav > li > a:hover {
    color: #ff4800
}

/* HEADINGS */
h1, h2, h3 {
    color: #ff4800;
}

/*h1 {
    font-size: 45px;
    line-height: 60px;
    font-weight: normal;
}*/

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    margin: 23px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

/* ARTICLE */
article .content {
    text-align: justify;
}

/* FOOTER */
.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #212121;
}

.widget {
    padding-bottom: 55px;
}
