@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #B8860B;
    --color-background-light: #22222;
    --color-background-dark: #2C2C2C;
    --color-text-light: #4A4A4A;
    --color-text-dark: #E0E0E0;
    --color-slate-100: #F3F4F6;
    --color-slate-200: #E5E7EB;
    --color-slate-500: #9CA3AF;
    --color-slate-600: #6B7280;
    --color-slate-700: #374151;
    --color-slate-800: #1F2937;
    --color-slate-900: #1F2937;
    --font-sans: 'Merriweather', serif;
    --font-display: 'Playfair Display', serif;

    /* ───────── Letter spacing ───────── */
    --tracking-tight: -0.025em;
    --tracking-tighter: -0.05em;
    --tracking-relaxed: 0.01em;
}
